@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Raleway", sans-serif;
    font-weight: 300px;

}

header a {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color:#3352cc;
    vertical-align: middle;
    
}

header {
    width: auto;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a img {
    height: 70px;
    width: 70px;
    margin: 10px;
    vertical-align: middle;
    
}

header nav a{
    margin: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: bold;    
    color: black;
}

.banner-nacional{
    height: 400px;
    background-image: url(../img/chalten6.jpg);
    background-size: auto;
    background-position:center center;
    display: flex;

}

.banner-internacional{
    height: 400px;
    background-image:url(../img/roma1.jpg);
    background-size:cover;
    background-position:center center;
    display: flex;
    
}

main{
    width: auto;
    margin: auto;
}

.banner-nacional a{
    color: white;
    font-size: 32px;
    margin: auto;
}

.banner-internacional a{
    color: white;
    font-size: 32px;
    margin: auto;
}

footer{
    background-color: #494847;
    height: 200px;
    display: flex;
    justify-content:right;
    align-items: center;    
}

footer img{
    width: 60px;
    margin: 15px;   
}
.container{
    width: auto;
    height: auto;    
    
    
}

.caja1{

    width: 400px;
    height: 100px;
  
    
}

.caja2{
    width: 400px;
    height: 200px;
  

}

.caja3{
    width: 400px;
    height: 200px;
    
}
.caja4{
    width: 400px;
    height: 200px;
 
    
}














