@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Globales*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
/* Estilo base para todos los tamaños de pantalla */
nav {
    font-family: "Raleway", sans-serif;
    font-size: 30px; /* Tamaño de fuente predeterminado */
}

/* Estilos específicos para pantallas más pequeñas  */
@media (max-width: 768px) {
    nav {
        font-size: 20px; 
    }
}

/* Estilos específicos para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        font-size: 24px;
    }
}

/* Estilos específicos para pantallas grandes  */
@media (min-width: 1025px) {
    nav {
        font-size: 30px; 
    }
}

 
/* Pagina Index*/

body{
    font-family: "Raleway", sans-serif;
    font-weight: 300px;
    background-color: #aaa4a4;

}

header a {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color:#3352cc;
    vertical-align: middle;
    
}

header {
    width: auto;
    margin: auto;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #494847;


}

header a img {
    height: 70px;
    width: 70px;
    margin: auto;
    vertical-align: middle;
    
}

header nav a{
    margin: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: bold;    
    color:whitesmoke;
    background-color: #aaa4a4;
    padding: 15px 25px;
    border-radius: 5px;
}

.nav-boton:hover{
    background-color: #888585 ;
    padding: 20px 30px;
    margin: auto;
}

.banner-nacional{
    height: 400px;
    margin: 5px 0px 5px 0px;
    background-image: url(../img/chalten6.jpg);
    background-size: auto;
    background-position:center center;
    display: flex;

}

.banner-internacional{
    height: 400px;
    margin: 5px 0px 5px 0px;
    background-image:url(../img/roma1.jpg);
    background-size:cover;
    background-position:center center;
    display: flex;
    
}

main{
    width: auto;
    margin: auto;
   
}

.marca{
    height: 50px;
    background-color: #494847;   
}

.marca h1{
    color: white;
    display: flex;
    justify-content:center;
    align-items: center; 
}

.banner-nacional a{
    color: white;
    font-size: 32px;
    margin: auto;
}

.banner-internacional a{
    color: white;
    font-size: 32px;
    margin: auto;
}

footer{
    background-color: #494847;
    height: 200px;
    display: flex;
    justify-content:right;
    align-items: center;    
}

footer img{
    width: 60px;
    margin: 15px;   
}

@media (max-width: 768px) {
    header {
        padding: 0 10px; 
    }

    header a {
        font-size: 24px; 
    }

    header a img {
        height: 50px;
        width: 50px;
    }

    header nav a {
        font-size: 14px;
    }

    .banner {
        height: 300px;
    }

    .marca h1 {
        font-size: 24px;
    }

    .banner a {
        font-size: 24px;
    }
}


/* Pagina Nacional */


.container{
    width: auto;
    height: auto;   
    position: relative;
    left: 500px;

    
    
}

.caja1{

    width: 400px;
    height: 100px;
  
    
}

.caja2{
    width: 600px;
    height: 280px;
  

}

.caja3{
    width: 500px;
    height: 280px;
    
}
.caja4{
    width: 500px;
    height: 280px;
 
    
}
.caja5{
    width: 500px;
    height: 280px;
    
}
/* Contacto */
/* Estilos generales */

.contenedor {
    background-color: #4b4444;
    max-width: 600px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #4c00ff;
}

input[type="submit"] {
    background-color: #4c00ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3800d0;
}


/* Estilos para pantallas pequeñas  */
@media screen and (max-width: 767px) {
    .contenedor {
        margin: 5% 10px; /* Reducimos el margen izquierdo y derecho */
    }
    
    input[type="submit"] {
        width: 100%; /* Aseguramos que el botón ocupe todo el ancho */
    }
}












