@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Globales*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/*---------------------------------------------------------------------------
                        PAGINA INDEX
----------------------------------------------------------------------------*/

header{
  width: 100%;
  background-color: #006578;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  
}

.nav-list{
  list-style-type: none;
  display: flex;
  gap: 2rem;

}
.nav-list li a:hover{
  color: #c0f1fa;
}

.nav-list li a{
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.logo img{
  max-width: 5rem;
}

.logo{
  display: flex;
  gap: 1rem;
}

.logo h2{
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 2rem;
  color:white;
  display: flex;
  align-items: center;
    
}

.abrir-menu,
.cerrar-menu{
  display: none;
}

/*---------------NAV-RESPONSIVE--------------*/

@media screen and ( max-width: 768px) {
  .abrir-menu,
  .cerrar-menu{
    display: block;
    border: 0;
    font-size: 2rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }

  .nav{
    display: none;
  }

  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(10, 9, 9) ;
    padding: 2rem;
    box-shadow:0 0 0 100vmax  rgba(66, 66, 64, 0.582);
    opacity: 0;
    visibility: hidden;
  }

  .nav.visible{
    opacity: 1;
    visibility: visible;
  }
  
  .nav-list{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .logo img{
    max-width: 3rem;
  }
  
  .logo h2{
    font-size: 1.2rem;
      
  }

  header {
    padding: 0.3rem; 
}
}

@media (min-width: 769px) and (max-width: 1080px) {
  .nav-list li a{
    font-size: 1rem;
  }

  .logo img{
    max-width: 3.5rem;
  }

  .logo h2{
    font-size: 1.5rem;     
  }

  .nav-list{
    gap: 1rem;
  
  }

}

/*------------FOOTER---------*/

footer{
  background-color: #006578;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  padding: .3em;
}

.tarjetas{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;  
}

.tarjetas img{
  max-width: 3rem;
}

.redes{
  font-size: 1.2rem;
  font-weight: bold;  
}

.redes img{
  max-width: 2rem;
  margin: 1em;
}

.info{
  display:flex;
  align-items: flex-end;
  text-align: center;
  justify-content:space-around;
  margin-bottom: 0.5em;
}

.direccion i,
.atencion i{
  font-size: 2rem;
  margin: .4em;
}

.info u,
.direccion a{
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and ( max-width: 768px){
  footer {
    font-size:.7rem;
  }
  .tarjetas{
    display: none;
  }
  .redes img{
    width: 1.5rem;
    margin: .5em;
  }
  .info p{
    display: none;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .direccion{
    margin-top:0.5em;
  }
  .info u,
  .direccion a{
  font-size: 1rem;
  }
  .direccion i,
  .atencion i{
  font-size: 1.5rem;
  margin: .2em;
  } 
}

@media (min-width: 769px) and (max-width: 1080px){
  footer{
    font-size: 0.7rem;
  }
  .direccion i,
  .atencion i{
  font-size: 1.7rem;
  margin: .4em;
  }
  .info u,
  .direccion a{
  font-size: 1.2rem;
  }
  .redes img{
    width: 1.7rem;
    margin: .4em;
  }
  .redes{
    font-size: 1rem;  
  }

}


/*---------------------------------------------------------------------------
                        PAGINA PROMOCIONES
----------------------------------------------------------------------------*/
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}

/* Contenedor principal */
.Container {
  background-image: url("../img/Fondo.jpeg");
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Contenedor de las cartas */
.card-container {
  width: 190px;
  height: 254px;
  background: transparent;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
  overflow: hidden;
  border-radius: 10px;
}

/* Secciones (tarjetas) */
.Container section {
  cursor: default;
  width: 600px;
  height: 700px;
  position: relative;
  z-index: 2;
  margin-bottom: 5px; /* Espacio entre las tarjetas */
  display: flex;
  flex-direction: column; /* Cambiamos la dirección a columna para el contenido */
  align-items: center;
  justify-content: center;
  font-size: 18px; /* Tamaño de fuente reducido */
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #212121;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  transition: all ease 0.3s;
}

/* Efecto al pasar el mouse sobre las secciones */
.Container section:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Títulos de las secciones */
.Container section h1 {
  color: #000000;
  font-size: 20px; /* Tamaño de fuente ajustado */
  margin-bottom: 10px;
}

/* Elementos de la lista en cada sección */
.Container section ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Precio en cada sección */
.Container section p {
  color: #040fac;
  font-size: 20px; /* Tamaño de fuente ajustado */
  font-weight: bold;
  margin-top: 10px;
}

/* Texto adicional (p2) en cada sección */
.Container section p2 {
  color: #02000eb2;
  font-size: 20px; /* Tamaño de fuente ajustado */
  font-weight: bold;
  margin-top: 5px;
}

/* Estilos para pantallas pequeñas (máximo 768px de ancho) */
@media (max-width: 768px) {
  .Container {
      width: 100%;
      padding: 0 10px;
  }

  .Container section {
      width: 100%;
  }
}

