@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Globales*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/*---------------------------------------------------------------------------
                        PAGINA INDEX
----------------------------------------------------------------------------*/

header{
  width: 100%;
  background-color:#006578;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  
}

.nav-list{
  list-style-type: none;
  display: flex;
  gap: 2rem;

}
.nav-list li a:hover{
  color: #c0f1fa;
}

.nav-list li a{
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.logo img{
  max-width: 5rem;
}

.logo{
  display: flex;
  gap: 1rem;
}

.logo h2{
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 2rem;
  color:white;
  display: flex;
  align-items: center;
    
}

.abrir-menu,
.cerrar-menu{
  display: none;
}

/*---------------NAV-RESPONSIVE--------------*/

@media screen and ( max-width: 768px) {
  .abrir-menu,
  .cerrar-menu{
    display: block;
    border: 0;
    font-size: 2rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }

  .nav{
    display: none;
  }

  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(10, 9, 9) ;
    padding: 2rem;
    box-shadow:0 0 0 100vmax  rgba(66, 66, 64, 0.582);
    opacity: 0;
    visibility: hidden;
  }

  .nav.visible{
    opacity: 1;
    visibility: visible;
  }
  
  .nav-list{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .logo img{
    max-width: 3rem;
  }
  
  .logo h2{
    font-size: 1.2rem;
      
  }

  header {
    padding: 0.3rem; 
}
}

@media (min-width: 769px) and (max-width: 1080px) {
  .nav-list li a{
    font-size: 1rem;
  }

  .logo img{
    max-width: 3.5rem;
  }

  .logo h2{
    font-size: 1.5rem;     
  }

  .nav-list{
    gap: 1rem;
  
  }

}

/*------------FOOTER---------*/

footer{
  background-color: #006578;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

footer u{
  font-size: 1rem ;
  padding: 0.5rem;  
}

.tarjetas{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;  
}

.tarjetas img{
  max-width: 3rem;
}

.redes{
  font-size: 1.2rem;
  font-weight: bold;  
}

.redes img{
  max-width: 2rem;
  margin: 0.7rem;
}

.info{
  display:flex;
  align-items: flex-end;
  text-align: center;
  gap: 5rem;
  margin-bottom: 1rem;
}
.info p{
  font-family:"Raleway", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}
.info u{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

@media screen and ( max-width: 768px){
  footer u{
    font-size:0.5rem;
  }
  .tarjetas{
    display: none;
  }
  .redes img{
    width: 1.5rem;
    margin: 0.5rem;
  }
  .info p{
    display: none;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
}

/***************************************************************************************************************************************************************************
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
***************************************************************************************************************************************************************************/


/*---------------------------------------------------------------------------
                        PAGINA ARGENTINA
----------------------------------------------------------------------------*/

.title {

    text-align: center;
}


.container{

    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    left: 10%;
      
}
    
    
.caja1{
  width: 80vw;
  height: 100vh;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 10%;
  background-color:rgba(237, 247, 185, 0.747)
    
     

}

.caja2{
  width: 80vw;
  height: 100vh;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 10%;
  background-color:rgba(237, 247, 185, 0.747)
     
    
}

.caja3{

  width: 80vw;
  height: 100vh;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 10%;
  background-color:rgba(237, 247, 185, 0.747)
     
}

.caja4{
  width: 80vw;
  height: 100vh;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 10%;
  background-color:rgba(237, 247, 185, 0.747)
     
}

.caja5{
  width: 80vw;
  height: 100vh;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 10%;
  background-color:rgba(237, 247, 185, 0.747)
}

.caja6{
  width: 80vw;
  height: 100vh;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 10%;
  background-color:rgba(237, 247, 185, 0.747)
}

.galeria{
    width: 420px;
    height: 80px;
    margin-left: 5px;

}

.lista-imagenes img { 
    
    width: 100%; 
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: block;
}
 

.lista-imagenes{
    
  display: flex;
  overflow-y: auto;

}

.slider-frame{
    width:65%;
    height: 65%;
    margin: 50px, auto, 0;
    margin-left: 18%;
    overflow: hidden;

}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;      /* me modifico como se ven las imagenes*/

    animation: slide 5s ease-in-out infinite;
}


.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

@keyframes slide{

0% {margin-left: 0%;} 
20% {margin-left: 0%;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;} 
70% {margin-left: -200%;}

75% {margin-left: -300%;} 
95% {margin-left: -300%;}

}


.carrousel{
    width: 230px;
    height: 130px;
    margin-left: 22%;
   

}

.conteCarrousel{
  width: 230px;
  height: 150px;
  margin: 50px, auto, 0;
  margin-left: 22%;
  overflow: hidden;
  display: flex;
  
    
   
}

.itemCarrousel{
  width: 230px;
  height: 150px;
  overflow: hidden;
  }


.imagen{
  width: 230px;
  height: 150px;
  padding: 0;
  display: flex;
  animation: slide 5s ease-in-out infinite;
  
}


/*.itemCarrousel{
  padding: 0;
  width: 400%;
  overflow: hidden;
  animation: slide 5s ease-in-out infinite;

}
*/

.conteCarrouselController{
    width: 50%;
    justify-content: space-evenly;

}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
   
}







